body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px;
background:linear-gradient(45deg,#0ea5e9,#6366f1);
}

.hero h2{
font-size:50px;
}

button{
padding:10px 20px;
border:none;
background:#38bdf8;
color:black;
cursor:pointer;
border-radius:5px;
}

section{
padding:60px;
text-align:center;
}

.service-box{
display:flex;
justify-content:center;
gap:30px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:10px;
width:200px;
transition:0.3s;
}

.card:hover{
transform:scale(1.1);
}

input,textarea{
width:300px;
padding:10px;
margin:10px;
border-radius:5px;
border:none;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}