body{
margin:0;
font-family:Arial;
background:#020617;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
border-bottom:1px solid #334155;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:150px;
background:linear-gradient(45deg,#0ea5e9,#6366f1);
}

.hero h2{
font-size:50px;
}

button{
padding:12px 25px;
border:none;
background:#22c55e;
color:white;
cursor:pointer;
border-radius:6px;
}

section{
padding:70px;
text-align:center;
}

.grid{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#0f172a;
padding:30px;
border-radius:10px;
width:220px;
transition:0.3s;
}

.card:hover{
transform:scale(1.08);
background:#1e293b;
}

input,textarea{
width:300px;
padding:10px;
margin:10px;
border-radius:5px;
border:none;
}

footer{
text-align:center;
padding:20px;
background:#020617;
border-top:1px solid #334155;
}